In [1]:
import numpy as np
import pandas as pd

# View Data

In [7]:
sample_id = 1019715464  # contain 998 sequences

**train.csv**: `file_id` indicates the file contain the **landmarks** data that present the particular `sequence_id` and the following `phrase`

In [4]:
dataset_df = pd.read_csv("Dataset/train.csv")

In [5]:
dataset_df.head()

,path,file_id,sequence_id,participant_id,phrase
0,train_landmarks/5414471.parquet,5414471,1816796431,217,3 creekhouse
1,train_landmarks/5414471.parquet,5414471,1816825349,107,scales/kuhaylah
2,train_landmarks/5414471.parquet,5414471,1816909464,1,1383 william lanier
3,train_landmarks/5414471.parquet,5414471,1816967051,63,988 franklin lane
4,train_landmarks/5414471.parquet,5414471,1817123330,89,6920 northeast 661st road

**id.parquet**: contain multiple sequence_id in a single file. Each sequence will be presented by particular number of frames with 1629 landmarks each frame.

In [8]:
sequence_df = pd.read_parquet(f"Dataset/{sample_id}.parquet")

In [9]:
sequence_df.head()

,frame,x_face_0,x_face_1,x_face_2,x_face_3,x_face_4,x_face_5,x_face_6,x_face_7,x_face_8,...,z_right_hand_11,z_right_hand_12,z_right_hand_13,z_right_hand_14,z_right_hand_15,z_right_hand_16,z_right_hand_17,z_right_hand_18,z_right_hand_19,z_right_hand_20
sequence_id,,,,,,,,,,,,,,,,,,,,,
1975433633,0,0.578892,0.578482,0.582906,0.572686,0.579030,0.582115,0.591430,0.498995,0.595773,...,-0.253687,-0.291687,-0.123892,-0.195255,-0.249135,-0.284375,-0.125050,-0.187797,-0.224827,-0.249662
1975433633,1,0.577563,0.578528,0.582916,0.572760,0.579090,0.582197,0.591687,0.497613,0.596104,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1975433633,2,0.576181,0.576949,0.581346,0.572293,0.577725,0.581191,0.591550,0.497113,0.596477,...,-0.233556,-0.267114,-0.116145,-0.179053,-0.223861,-0.253004,-0.122090,-0.173169,-0.200727,-0.219106
1975433633,3,0.575575,0.577569,0.581769,0.572443,0.578289,0.581652,0.591728,0.496759,0.596573,...,-0.190909,-0.218471,-0.093956,-0.149982,-0.188452,-0.211573,-0.102759,-0.147642,-0.168562,-0.180578
1975433633,4,0.577907,0.577628,0.582295,0.572930,0.578345,0.581873,0.592467,0.498170,0.597383,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

- list of sequence `sample_id.parquet` present

In [11]:
dataset_df[dataset_df["file_id"] == sample_id]

,path,file_id,sequence_id,participant_id,phrase
30259,train_landmarks/1019715464.parquet,1019715464,1975433633,21,+95-335-395
30260,train_landmarks/1019715464.parquet,1019715464,1975473601,93,bugs.launchpad.net
30261,train_landmarks/1019715464.parquet,1019715464,1975502450,93,mirandasphysiosteps.com
30262,train_landmarks/1019715464.parquet,1019715464,1975521182,73,5 endeavor circle
30263,train_landmarks/1019715464.parquet,1019715464,1975541698,161,+44-4560-846
...,...,...,...,...,...
31252,train_landmarks/1019715464.parquet,1019715464,2008510769,187,beatrice wallace
31253,train_landmarks/1019715464.parquet,1019715464,2008527389,138,8234 north rolfson road
31254,train_landmarks/1019715464.parquet,1019715464,2008541811,36,deanna calhoun
31255,train_landmarks/1019715464.parquet,1019715464,2008579279,80,473 private road 1169
31256,train_landmarks/1019715464.parquet,1019715464,2008677531,219,alton barnes